*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 a {
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.header {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 20px 30px;
}

.hero{
    background-image: linear-gradient(#3a3a3a9c, #3a3a3a9c), url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
    
}

nav li .nav-link {
    font-size: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 2px;
    transition: 0.5s;
   

}
nav .nav-link:hover{
    color: #ffffff;
    border-bottom: 1px solid rgb(198, 195, 195);
    transition:  0.5s;
    
   
}

.areaBox{
    display: inline-block;
    margin-top: 90px;
    position: relative;
   
}

.hero-para {
    font-size: 36px;
    line-height: 40px;
    font-family: 'HelveticaNeue-Thin';
    color: white;
    margin-bottom: 55px;
}


.imgbox{
  text-align: end;
}

.iphone-off{
    width: 85%;
    position: relative;
    margin-bottom: -240px;

}
.btn-dark {
    padding: 15px 35px;
    font-size: 24px;
    font-weight: 600;
    background: #453e3e;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
    
}
.btn-dark:hover{
    background: #383737;
}

.app-features-h3{
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #8a8a8a;
}
.app-features-p{
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    padding: 0 130px;
}
.app-features-box{
    margin-top: 60px;
  text-align: center;
}
.app-features-box span{
    margin-top: 10px;
    margin-bottom: 5px;
   display: block;
   font-size: 28px;
}
footer{
    background: #a3a0a0;
    text-align: center;
}
.copyright{
    display: inline-block;
    
}

.borderLeft{
    margin: 0 50px;
    color: #929090;
    border: 2px solid;
}
.website{
    display: inline-block;
   
}
.social-logo {
    display: inline-block;
}
.social-logo img{
    margin-top: -5px;
    margin-right: 50px;
}
.contact{
    background: #929090;
}

/* ANIMATIONS */
.iphone-on {
    position: absolute;
    right: 92px;
    top: 95px;
    width: 53%;
}
.iphone-btn{
    position: absolute;
    right: 140px;
}


.classname{
    opacity: 0;
}
.classname.animated{
    opacity: 1;
}
.classname1{
    opacity: 0;
    animation-delay:3.2s;
}
.classname1.animated{
    opacity: 1;
}

.btn-dark{
    opacity: 0;
}
.btn-dark.animated{
 opacity: 1;
}
.mobileView{
    color: #fff;
    background: #fff;
    border: none;
}



@media only screen and (max-width: 768px) {
    
 
    .logo{
        width: 150px;
       margin-left: 65px;
    }
    .mobileView{
        color: #fff;
        background: #fff;
        border: none;
    }
    .typewrite{
        font-size: 24px;
        color: #aecb2c;
    }
    .hero-para{
        font-size: 18px;
    }
    .btn-dark{
        margin-left: 18px;
    }
    .app-features-p {
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        padding: 15px 0;
    }
    .app-features-h3{
        font-size: 25px;
    }
    .iphone-btn{
        position: absolute;
        right: 90px;
        width: 50px;
        top: 23px;
    }
    .iphone-on {
        position: absolute;
        right: 68px;
        top: 85px;
        width: 50%;
    }
    .iphone-off{
        width: 85%;
        position: relative;
        margin-bottom: -500px;
    
    }
}


@media only screen and (max-width: 412px) {


    .logo{
        width: 150px;
       margin-left: 85px;
    }
    .mobileView{
        color: #fff;
        background: #fff;
        border: none;
    }
    .typewrite{
        font-size: 24px;
        color: #aecb2c;
    }
    .hero-para{
        font-size: 18px;
    }
    .btn-dark{
        margin-left: 25px;
    }
    .app-features-h3{
        font-size: 25px;
    }
}
@media only screen and (max-width: 390px) {


    .logo{
        width: 150px;
       margin-left: 65px;
    }
    .mobileView{
        color: #fff;
        background: #fff;
        border: none;
    }
    .typewrite{
        font-size: 24px;
        color: #aecb2c;
    }
    .hero-para{
        font-size: 18px;
    }
    .btn-dark{
        margin-left: 18px;
    }
    .app-features-p {
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        padding: 15px 0;
    }
    .app-features-h3{
        font-size: 25px;
    }
}
@media only screen and (max-width: 375px) {


    .logo{
        width: 150px;
       margin-left: 55px;
    }
    .mobileView{
        color: #fff;
        background: #fff;
        border: none;
    }
    .typewrite{
        font-size: 24px;
        color: #aecb2c;
    }
    .hero-para{
        font-size: 18px;
    }
    .btn-dark {
        padding: 15px 35px;
        font-size: 17px;
        font-weight: 600;
        background: #453e3e;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 50px;
        transition: 0.3s;
        margin-left: 35px;
    }
    .app-features-h3{
        font-size: 25px;
    }
}

@media only screen and (max-width: 360px) {


    .logo{
        width: 150px;
       margin-left: 35px;
    }
    .mobileView{
        color: #fff;
        background: #fff;
        border: none;
    }
    .typewrite{
        font-size: 24px;
        color: #aecb2c;
    }
    .hero-para{
        font-size: 18px;
    }
    .btn-dark {
        padding: 15px 35px;
        font-size: 17px;
        font-weight: 600;
        background: #453e3e;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 50px;
        transition: 0.3s;
        margin-left: 25px;
    }
    .app-features-h3{
        font-size: 25px;
    }
}

@media only screen and (max-width: 540px) {


    .logo{
        width: 150px;
       margin-left: 35px;
    }
    .mobileView{
        color: #fff;
        background: #fff;
        border: none;
    }
    .typewrite{
        font-size: 24px;
        color: #aecb2c;
    }
    .hero-para{
        font-size: 18px;
    }
    .btn-dark {
        padding: 15px 35px;
        font-size: 17px;
        font-weight: 600;
        background: #453e3e;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 50px;
        transition: 0.3s;
        margin-left: 95px;
    }
    .app-features-h3{
        font-size: 25px;
    }
}