*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 a {
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.header {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 20px 30px;
}

.hero{
    background-image: linear-gradient(#3a3a3a9c, #3a3a3a9c), url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
    
}

nav li .nav-link {
    font-size: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 2px;
    transition: 0.5s;
   

}
nav .nav-link:hover{
    color: #ffffff;
    border-bottom: 1px solid rgb(198, 195, 195);
    transition:  0.5s;
    
   
}

.areaBox{
    display: inline-block;
    margin-top: 90px;
    position: relative;
   
}

.hero-para {
    font-size: 36px;
    line-height: 40px;
    font-family: 'HelveticaNeue-Thin';
    color: white;
    margin-bottom: 55px;
}


.imgbox{
  text-align: end;
}

.iphone-off{
    width: 85%;
    position: relative;
    margin-bottom: -240px;

}
.btn-dark {
    padding: 15px 35px;
    font-size: 24px;
    font-weight: 600;
    background: #453e3e;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
    
}
.btn-dark:hover{
    background: #383737;
}

.app-features-h3{
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #8a8a8a;
}
.app-features-p{
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    padding: 0 130px;
}
.app-features-box{
    margin-top: 60px;
  text-align: center;
}
.app-features-box span{
    margin-top: 10px;
    margin-bottom: 5px;
   display: block;
   font-size: 28px;
}
footer{
    background: #a3a0a0;
    text-align: center;
}
.copyright{
    display: inline-block;
    
}

.borderLeft{
    margin: 0 50px;
    color: #929090;
    border: 2px solid;
}
.website{
    display: inline-block;
   
}
.social-logo {
    display: inline-block;
}
.social-logo img{
    margin-top: -5px;
    margin-right: 50px;
}
.contact{
    background: #929090;
}

/* ANIMATIONS */
.iphone-on {
    position: absolute;
    right: 92px;
    top: 95px;
    width: 53%;
}
.iphone-btn{
    position: absolute;
    right: 140px;
}


.classname{
    opacity: 0;
}
.classname.animated{
    opacity: 1;
}
.classname1{
    opacity: 0;
    animation-delay:3.2s;
}
.classname1.animated{
    opacity: 1;
}

.btn-dark{
    opacity: 0;
}
.btn-dark.animated{
 opacity: 1;
}
.mobileView{
    color: #fff;
    background: #fff;
    border: none;
}







/*Responsive*/




@media only screen and (max-width:1024px){
    
    .header{
        width: 100%;
      
     }
    
     .header{
        width: 100%;
     }
  
    .logo{
        width: 150px;
        margin-left: 65px;
    }
    .mobileView{
        background: #fff;
        border: none;
    }
    .typewrite{
        font-size: 32px;
        color: #aecb2c;
        margin-bottom: 35px;
    }
    .hero-para {
        font-size: 23px;
        line-height: 24px;
        font-family: 'HelveticaNeue-Thin';
        color: white;
        margin-bottom: 55px;
    }
    .btn-dark{
        padding: 10px 25px;
        font-size: 25px;
        font-weight: 600;
        background: #453e3e;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 50px;
        transition: 0.3s;
        
    }
    .phoneLogo{
        height: 35px;
    }
    .btn-dark:hover{
        background: #383737;
    }
    .app-features-p {
        text-align: center;
        font-size: 18px;
        line-height: 45px;
        padding: 15px 0;
    }
    .app-features-h3{
        font-size: 25px;
    }
    .iphone-btn{
        position: absolute;
        right: 120px;
        width: 50px;
       
    }
    .iphone-on {
        position: absolute;
        right: 85px;
        top: 88px;
        width: 53%;
    }
    .iphone-off{
        width: 85%;
        position: relative;
        margin-bottom: -200px;
    
    }
}


@media only screen and (max-width:980px) {
    .header{
        width: 100%;
      
     }
    
     .header{
        width: 100%;
     }
  
    .logo{
        width: 150px;
        margin-left: 65px;
    }
    .mobileView{
        background: #fff;
        border: none;
    }
    .typewrite{
        font-size: 26px;
        color: #aecb2c;
        margin-bottom: 35px;
    }
    .hero-para {
        font-size: 18px;
        line-height: 24px;
        font-family: 'HelveticaNeue-Thin';
        color: white;
        margin-bottom: 55px;
    }
    .btn-dark{
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 600;
        background: #453e3e;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 50px;
        transition: 0.3s;
        
    }
    .phoneLogo{
        height: 35px;
    }
    .btn-dark:hover{
        background: #383737;
    }
    .app-features-p {
        text-align: center;
        font-size: 13px;
        line-height: 35px;
        padding: 15px 0;
    }
    .app-features-h3{
        font-size: 25px;
    }
    
    .iphone-btn{
        position: absolute;
        right:90px;
        width: 50px;
       
    }
    .iphone-on {
        position: absolute;
        right: 68px;
        top:69px;
        width: 51%;
    }
    .iphone-off{
        width: 85%;
        position: relative;
        margin-bottom: -200px;
    
    }
}

@media only screen and (max-width:768px) {
    .header{
       width: 100%;
    }
 
   .logo{
       width: 150px;
       margin-left: 65px;
   }
   .mobileView{
       background: #fff;
       border: none;
   }
   .typewrite{
       font-size: 24px;
       color: #aecb2c;
   }
   .hero-para {
       font-size: 18px;
       line-height: 24px;
       font-family: 'HelveticaNeue-Thin';
       color: white;
       margin-bottom: 20px;
   }
   .btn-dark{
       padding: 10px 25px;
       font-size: 14px;
       font-weight: 600;
       background: #453e3e;
       color: rgb(255, 255, 255);
       text-decoration: none;
       border-radius: 50px;
       transition: 0.3s;
       
   }
   .phoneLogo{
       height: 25px;
   }
   .btn-dark:hover{
       background: #383737;
   }
   .app-features-p {
       text-align: center;
       font-size: 14px;
       line-height: 30px;
       padding: 15px 0;
   }
   .app-features-h3{
       font-size: 25px;
   }
   .imgbox{
       width: 100%;
       height: 100vh;
   }
   .iphone-btn{
       position: absolute;
       right: 90px;
       width: 50px;
      
   }
   .iphone-on {
       position: absolute;
       right: 68px;
       top: 85px;
       width: 50%;
   }
   .iphone-off{
       width: 85%;
       position: relative;
       margin-bottom: -200px;
   
   }
   .app-features-h3{
       text-align: center;
       font-size: 52px;
       font-weight: 700;
       margin-top: 50px;
       margin-bottom: 30px;
       color: #8a8a8a;
   }
   .app-features-p{
       text-align: center;
       font-size: 22px;
       line-height: 28px;
       padding: 0 130px;
   }
   .app-features-box{
       width: 100%;
       margin-top: 60px;
     text-align: center;
   }
   .app-features-box span{
       margin-top: 10px;
       margin-bottom: 500px;
      display: block;
      font-size: 28px;
   }
  
   .copyright{
       display: inline-block;
       
   }
   
   .borderLeft{
       margin: 0 50px;
       color: #929090;
       border: 2px solid;
   }
   .website{
       display: inline-block;
      
   }
   .social-logo {
       display: inline-block;
   }
   .social-logo img{
       margin-top: -5px;
       margin-right: 50px;
   }
   .contact{
       background: #929090;
   }
   footer{
       height: 50px;
   }
}

@media only screen and (max-width:480px) {
    .header{
        width: 100%;
     }
  
    .logo{
        width: 150px;
        margin-left: 65px;
    }
    .mobileView{
        background: #fff;
        border: none;
    }
    .typewrite{
        font-size: 24px;
        color: #aecb2c;
    }
    .hero-para {
        font-size: 14px;
        line-height: 18px;
        font-family: 'HelveticaNeue-Thin';
        color: white;
        margin-bottom: 20px;
    }
    .btn-dark{
        padding: 10px 25px;
        font-size: 12px;
        font-weight: 600;
        background: #453e3e;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-radius: 50px;
        transition: 0.3s;
        margin-bottom: 50px;
        
    }
    .phoneLogo{
        height: 25px;
    }
    .btn-dark:hover{
        background: #383737;
    }
    .app-features-p {
        text-align: center;
        font-size: 13px;
        line-height: 30px;
        padding: 5px 0;
    }
    .app-features-h3{
        font-size: 13px;
    }
    
    .iphone-btn{
        position: absolute;
        right: 105px;
        width: 50px;
        top: 175px;
       
    }
    .iphone-on {
        position: absolute;
        right: 82px;
        top: 255px;
        width: 50%;
    }
    .iphone-off{
        width: 85%;
        position: relative;
        margin-bottom: -900px;
    
    }
    .app-features-h3{
        text-align: center;
        font-size: 34px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 30px;
        color: #8a8a8a;
    }
    .app-features-p{
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        padding: 5px 10px;
    }
    .app-features-box{
        width: 100%;
        margin-top: 10px;
      text-align: center;
    }
    .app-features-box span{
        margin-top: 10px;
        margin-bottom: 10px;
       display: block;
       font-size: 22px;
    }
   
    .copyright{
        display: inline-block;
        font-size: 14px;
    }
    
    .borderLeft{
        margin: 0 2px;
        color: #929090;
        border: 2px solid;
    }
    .website{
        display: inline-block;
       
    }
    .social-logo {
        display: inline-block;
    }
    .social-logo img{
        margin-top: -5px;
        margin-right: 5px;
    }
    .contact{
        background: #929090;
    }
 
}

@media only screen and (max-width:412px){
    .iphone-btn{
        position: absolute;
        right: 90px;
        width: 50px;
        top: 225px;
       
    }
    .iphone-on {
        position: absolute;
        right: 68px;
        top: 287px;
        width: 50%;
    }
    .iphone-off{
        width: 85%;
        position: relative;
        margin-bottom: -900px;
    
    }
    
}


@media only screen and (max-width: 262px){
.iphone-on {
    position: absolute;
    right: 39px;
    top: 367px;
    width: 50%;
  }
}
